body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #000064;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


.full-width{
  width: 300px;
  height: 250px;
}


.copy1, .copy2, .copy3{
  width: 100%;
  font-family: "ESKlarheitGrotesk Xbd";
  color: #fff;
  will-change: transform;
}
.copy1 span, .copy2 span, .copy3 span{
  display: block;
  position: absolute;
  width: 100%;
}
.copy1 .line1{
  top: 14px;
  left: 18px;
  font-size: 23.8px;
}
.copy1 .line2{
  top: 37px;
  left: 17px;
  font-size: 54.9px;
  letter-spacing: -0.6px;
}
.copy1 .line3{
  top: 97px;
  left: 19px;
  font-size: 23.1px;
  line-height: 32px;
}
.copy1 .line3 sup{
  line-height: 0;
  font-size: 15px;
  margin-left: -1px;
  position: relative;
  top: 2px;
}
.copy2 .line1{
  top: 13.5px;
  font-size: 23.2px;
  line-height: 32px;
  left: 19px;
}
.copy2 .line2{
  top: 37px;
  left: 18.5px;
  font-size: 54.8px;
  letter-spacing: -0.6px;
}
.copy2 .line3{
  font-size: 23.2px;
  line-height: 32px;
  top: 97px;
  left: 20px;
}

.copy3{
  top: 36.5px;
  left: 20px;
  font-size: 28px;
  line-height: 31.3px;
  color: #0000aa;
  letter-spacing: -0.5px;
}
.copy3 span{
  color: #ff0488;
}

.last-frame{
  width: 100%;
  height: 250px;
  /* border-top: #ff6433 solid 8px; */
  background-color: #fff;
  transform: translateY(250px);
  will-change: transform;
}
.card1 {
  width: 140px;
  height: auto;
  top: 299px;
  left: 10px;
}

#cta{
  font-family: "ESKlarheitGrotesk Smbd";
  background-color: #ff0488;
  display: inline-block;
  font-size: 12.7px;
  top: 135px;
  left: 20px;
  width: 106px;
  height: 35px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
}

.term{
  font-family: "ESKlarheitGrotesk Smbd";
  color: #fff;
  width: 100%;
  font-size: 5.9px;
  top: 224px;
  left: 147px;
}
#termlast{
  color: #0000aa;
}
/* Shine effect */
#shine {
  width: 300px;
  height: 250px;
  background-image: url(./images/shine.png);
  background-size: contain;
  background-position: 160px 0px;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(./images/mask.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(./images/mask.png);
}